NODE_ENV=production
DATABASE_URL=${{Postgres.DATABASE_URL}}
JWT_SECRET=GERAR_CHAVE_LONGA_E_UNICA
TRACKING_TOKEN_SECRET=GERAR_OUTRA_CHAVE_LONGA_E_UNICA
FRONTEND_URL=https://safesaff.vercel.app
PUBLIC_APP_URL=https://safesaff.vercel.app
